<link rel="stylesheet" href="{{ '/assets/widgets/convolution.css' | relative_url }}">
<figure class="widget w-convolution" data-widget="convolution" data-cogniterra="https://cogniterra.org/lesson/29917/?utm_source=bioinformaticsalgorithms.org&amp;utm_medium=widget&amp;utm_campaign=convolution">
  <figcaption class="widget-head"><span class="widget-kicker">Try it</span> Spectral convolution and leaderboard sequencing</figcaption>
  <div class="w-convolution-body"></div>
  <noscript><p class="w-convolution-body">This interactive spectral convolution and leaderboard explorer needs JavaScript.</p></noscript>
  <p class="widget-foot">Now make the computer do it: <a href="https://cogniterra.org/lesson/29917/?utm_source=bioinformaticsalgorithms.org&amp;utm_medium=widget&amp;utm_campaign=convolution">Implement ConvolutionCyclopeptideSequencing in the interactive text</a>.</p>
</figure>
<script defer src="{{ '/assets/widgets/convolution.js' | relative_url }}"></script>
